@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');



/* --- BASE --- */

body, nav, div, main, section, footer, header {
    outline: 2px solid black;
    min-height: 1rem;
    padding: 1rem;
}




img {
    width: 100%;
}

.main-footer {
    
}



/* --- BASE --- */


/* Typography */
h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 250;
  
}

p {
    font-family: 'Ubuntu', sans-serif;
}

/* Typography */







/* ---  START LAYOUT --- */

div,header, footer, section, h1 , h6, figure, article {
    border: 1px solid black;
}

.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    display: grid;
   
    background-color: brown;
}

.headings {
    text-align: center;
}

.subheading {

}

footer {
   
}




/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
    .row {
        display: grid;
    width: 85vw;
    max-width: 70rem;
    margin: 0 auto;
    } 

    m-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

    l-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Large only */
@media screen and (min-width: 64em) and
(max-width: 74.9375em) {}


/* --- END LAYOUT --- */






